# Gradle build system ignores
.gradle/
build/

# Other IDE related folders
.idea/
.settings/

# MCreator workspace
.mcreator/

# Minecraft client/server files
run/

# MacOS system files
.DS_STORE

   
build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/
libs/

.classpath
.project
.settings/org.eclipse.core.resources.prefs
.idea/
classes/

.vscode/
logs/